Repository oscardelalanza/portfolio-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, test, migration, documentation, feature, config, dependencies

.github/labeler.yml:

workflow:
  - .github/*

test:
  - test/**/*.rb
  - spec/**/*.rb

migration:
  - db/migrate/*.rb

documentation:
  - README.md
  - docs/*

feature:
  - app/**/*.rb

config:
  - config/**/*

dependencies:
  - Gemfile

refactor: rubocop fix
  Gemfile
  app/mailers/application_mailer.rb
  config.ru
  test/channels/application_cable/connection_test.rb
  test/test_helper.rb
Labels: test, feature, dependencies

feat: rubocop required
  .rubocop.yml
Labels: none

feat: rubocop-performance gemfile
  .github/workflows/linters.yml
Labels: none

feat: rubocop-thread_safety gemfile
  .github/workflows/linters.yml
Labels: none

feat: coverage workflow
  .github/workflows/coverage.yml
Labels: none

feat: platform
  Gemfile.lock
Labels: none

feat: database and compose
  config/database.yml
  db/schema.rb
  docker-compose.yml
Labels: config

feat: coverage
  .gitignore
Labels: none

feat(rails_helper): simplecov requierd
  .github/workflows/coverage.yml
  spec/rails_helper.rb
Labels: test

feat: simplecov
  spec/rails_helper.rb
Labels: test
